img{
    width: 200px;
    height: 300px;
}
a{
    text-decoration: none;
    text-align: center;
    
}
h1{
    text-align: center;
}
.book-item{
    float: left;
    padding: 10px;
}
.book-list{
    margin-top: 40px;
    margin-left: 200px;
}
body{
    background-image: url(../image/bg_pattern.jpg);
}