* {
    box-sizing: border-box;
}
a:hover {
    color: #919294;
    text-decoration: underline;
}
footer, footer a {
    color: #919294;
}
footer {
    line-height: 2.5em;
    padding: 3rem 0;
}
.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.c {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }
h4{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none !important;
}
a{
    text-decoration: none;
    
}