*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img{
    max-width: 100%;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer a{
    color: #fff;
}
/*-------------Header---------------*/



header{
    position: relative;
}

.header{
    background: url(../img/mercedes_car_white_198952_1920x1080.jpg); 
    background-repeat: no-repeat;
    width: 100%;
    height: 716px; 
    background-size: 100%;
    backface-visibility: hidden;
    animation: slideBg 15s linear infinite 5s;
    animation-timing-function: linear;
}

@keyframes slideBg{
    0% {
        background-image: url(../img/mercedes_car_white_198952_1920x1080.jpg);
    }
    25% {
        background-image: url(../img/car_tailights_road_210011_1920x1080.jpg);
    }
    50% {
        background-image: url(../img/mercedes_car_gray_206612_1920x1080.jpg);
    }
    75% {
        background-image: url(../img/mercedesbenz_gt_r_mercedes_car_151175_1920x1080.jpg);
    }
    100% {
        background-image: url(../img/mercedes_car_white_198952_1920x1080.jpg);
    }
}

.header img{
    width: 70px;
    height: 70px;
}
.nav-first{
    font-size: 16px;
    font-weight: 700;
    color: #C9D6DF;
    line-height: 70px;
    text-transform: uppercase;
}

.car-lines-menu{
    position: absolute;
    display: none;
    background-color: #fff;
    color: #fff;
    z-index: 99;
    list-style-type: none;
    border-radius: 5px;
    text-align: start;
    line-height: 40px;
    top: 65px;
    padding-right: 3rem;
    transition: all 0.5s;
  }


.product-menu{
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    border-radius: 5px;
    list-style-type: none;
    text-align: start;
    line-height: 40px;
    top: 65px;
    padding-right: 2rem;
}

.service-menu{
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    list-style-type: none;
    border-radius: 5px;
    text-align: start;
    line-height: 40px;
    top: 65px;
    padding-right: 2rem;
}

.advise-menu{
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    border-radius: 5px;
    list-style-type: none;
    text-align: start;
    line-height: 40px;
    top: 65px;
    padding-right: 2rem;
}

.search{
    display: none;
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #fff;
    right: 100px;
    top: 65px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.nav-first{
    color: #fff;
}

.car-lines-menu a,.product-menu a, .service-menu a, .advise-menu a{
    color: #000 !important;
}

.menu-item {
    font-weight: 700;
    color: #000;
    padding-top: 10px;
}


.header i{
    color: #fff;
    font-size: 25px;
    float: right;
    line-height: 68px;
    cursor: pointer;
}

.line-nav{
    height: 2px;
    background-color: #fff;
    margin-top: 4px;
}

.nav1 li,.nav2 li,.nav4 li,.nav3 li{
    list-style: none;
}

.nav1,.nav2,.nav3,.nav4 {
    cursor: pointer;
}

.col-lg-9 .navi{
    color: #FFF;
    position: relative;
}

.col-lg-9 .navi:after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 15px;
    transition: 0.3s;
}

.col-lg-9 .navi:hover:after{
    width: 100%;
}

.nav-first:hover{
    color: #fff;
}

.nav1:hover .car-lines-menu,.nav2:hover .product-menu,.nav3:hover .service-menu,.nav4:hover .advise-menu{
    display: block;
    transition: all 0.3s;
}

.nav-links:hover{
    color: #00ADEF !important;
}


.brand {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    padding-top: 28px;
}

.describe {
    font-size : 24px;
    font-weight: 500;
    color: #fff;
}

/*-------------MOBILE-HEADER ------------*/
.mobile-header{
    background-color: #000 !important;
}

.dropdown-toggle{
    color: #fff !important;
    font-weight: 700;
    text-transform: capitalize !important;
}

.navbar-brand img{
        width: 70px;
        height: 70px
}

.navbar-brand i{
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.dropdown-menu{
    transition: all 0.3s;
}

.btn-outline-success{
    color: #fff;
    background-color: #00ADEF;
}

/*-------------Description----------*/

#description{
    height: 361px;
}

#description h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    width: 564px;
    height: 128px;
    padding-top: 100px;
    padding-left: 50px;
}

#description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    width: 453px;
    height: 154px;
    padding-top: 69px;
    margin-left: 96px;
}

#description button{
    background-color: #00ADEF;
    border: none;
    width: 170px;
    height: 51px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 96px;
}

/*-------------------Buy Now-----------------------*/
/* 
#buy-now .container{
    display: flex;
    flex-wrap: nowrap;
}

#buy-now button{
    width: 137px;
    height: 44px;
    background-color: #00ADEF;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 179px;
}

#buy-now p{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.085em;
    padding-top: 192px;
    padding-left: 73px;
}

.parameter{
    background: linear-gradient(107.95deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 250, 250, 0) 83.15%);
    filter: drop-shadow(0px 4px 43px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(15.4188px);
    width: 442px;
    height: 136px;
} */

/*---------------CAR-LINE--------------*/
#car-line{
    background-color: black;
}

#car-line img{
    cursor: pointer;
}

#car-line .col-lg-4{
    overflow: hidden;
    position: relative;

}

#car-line h2{
    position: absolute;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 18px;
    margin-top: -46px;
    height: 46px;
    padding-left: 35px;
    line-height: 50px;
    width: 100%;
    z-index: 99;
}



#car-line h1{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    width: 471px;
    height: 78px;
    color: #fff;
    margin: auto;
    letter-spacing: 0.05em;
    padding-top: 89px;
}

#car-line h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    margin-top: 120px;
}

#car-line .container-item{
    padding-top: 50px;
}

#car-line .car-line-item{
    padding-bottom: 122px;

}


/*----------------TOOL------------------*/

#tool h2{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 69px;
    padding-bottom: 30px;
}

#tool h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 12px;
}

#tool p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 107px;
    width: 240px;
    height: 40px;
    margin: auto;
}

.tag{
    width: 257px !important;
    height: 40px;
}

#tool .col-lg-4{
    padding-bottom: 75px;
}

/*-----------------------FOOTER-----------------------*/

footer{
    background-color: black;
    color: #fff;
}

.footer-arrow{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

footer .container{
    padding-top: 130px;
}

footer h2{
    font-size: 16px;
    font-weight: 700;
}

footer p{
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
}

.footer-line{
    height: 2px;
    background-color: #C9D6DF;
    margin-top: 4px;
}

.license{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0px;
}

.license .footer-item{
    padding-left: 30px;
    font-size: 12px;
}

.fa-facebook-square,.fa-youtube,.fa-instagram,.fa-twitter-square{
    padding-top: 10px;
    padding-left: 20px;
}

@media only screen and (max-width: 500px){
    #car-line h1{
        width: auto;
    }
}